<!DOCTYPE html>
html(lang="zh-Cn")
  head
    meta(charset="UTF-8")
    title Qymh
    link(rel="stylesheet", href="style/main.min.css")
  body(style="overflow-x:hidden;overflow-y:auto")
    .home
      .font30.fb.mt30.h50.lh50.ml50= `api管理首页`
      .form.mt10.ml50
        label.db.mt30 请输入要添加的Api名称
        input.input-center.mt15(
          placeholder="请输入..."
          v-model="api"
        )
        button.dib.h50.w50.ml15.lh50.tc.bkSky.colorWhite.br50.point.font12(
          @click="sendApi"
        ) 添加
      .apiBox.ml50.mt50.mr50
        table.col100
          tr.col100
            th.tc.borderGrey.h35.lh35(v-for="(value,key) in apis[0]") {{key}}
          tr.col100.point.hoverBkSky(
            v-for="(value,key) in apis")
            th.tc.borderGrey.h35.lh35(
              v-for="one in value"
              @click="toApi(value.api)") {{one}}
            td.tc.h35.lh35.tc.colorPink.point.font12.z999(
              @click="deleteApi($event).prevent.stop"
            ) 删除数据
      transition(
        name="alert"
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
      )
        component(:is="alert")  
    script(src="https://cdn.bootcss.com/vue/2.4.2/vue.js")
    script(src="https://cdn.bootcss.com/vue-resource/1.3.4/vue-resource.js")
    script.
      const api=new Vue({
        el:'.home',
        data(){
          return{
            api:'',
            apis:[],
            alert:'normal',
            basetime:400
          }
        },
        created(){
          if(`#{res.locals.user}`){  
            let self=this
            this.$http.get('/api').then(res=>{
              self.apis=res.data
            })
          }else{
            window.location.href="/login"
          }

        },
        components:{
          success:{
            template:
            `
            <div class="alertBox">
              <div class="animated fadeIn alertSuccess font14 z999">操作成功</div>
            </div>
            `
          },
          error:{
            template:`
            <div class="alertBox">
              <div class="animated fadeIn alertSuccess font14 z999">请求失败
            </div>`
          },
          normal:{
            template:'<div></div>'
          }
        },
        methods:{
          // 发送数据
          sendApi(){
            let postResource=this.$resource('/api')
            let now=new Date()
            let year=now.getFullYear() // 年
            let month=now.getMonth()+1 // 月
            let day=now.getDate() // 日
            let hour=now.getHours() // 时
            let minute=now.getMinutes() // 分
            let second=now.getSeconds() // 秒

            let time=year+'年'+month+'月'+day+'日'+hour+'时'+minute+'分'+second+'秒'

            let inner={
              api:this.api,
              time:time
            }

            let self=this

            postResource.save(inner).then(res=>{
              self.api=''
              self.alert="success"

              var timer=setTimeout(()=>{
                self.alert="normal"
              },self.basetime)

              self.apis.push(res.data)
            },res=>{
              self.alert="error"

              var timer=setTimeout(()=>{
                self.alert="normal"
              },self.basetime)
            })
          },
          // 删除数据
          deleteApi(e){
            let target=e.target
            let id=target.parentNode.firstElementChild.innerHTML
            let deleteResource=this.$resource('/api')

            let self=this

            // 动态改变api数组以更改显示 
            deleteResource.delete({id:id}).then(res=>{
              self.apis.find((item,index)=>{
                if(item._id==id){
                  self.apis.splice(index,1)
                }
              })

              self.alert="success"

              var timer=setTimeout(()=>{
                self.alert="normal"
              },self.basetime)
            },res=>{
              self.alert="error"

              var timer=setTimeout(()=>{
                self.alert="normal"
              },self.basetime)
            })
          },
          // 跳转
          toApi(api){
            window.location.href=`/api/${api}`
          }
        }
      })
